# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# ===============================
# ChromaDB / Vector DB
# ===============================
vector_db/
chroma.sqlite3

# ===============================
# Logs & outputs
# ===============================
*.log
wrong_answers.csv
submission.csv

# ===============================
# OS / Editor
# ===============================
.DS_Store
.vscode/
.idea/

data/documents.txt
